*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    background-color: #33691E;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    display: block;
    background-color: #8BC34A;
    /* opacity: 0.5; */
    width: 50%;
    height: 650px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}
audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
img{
    margin: 25px;
    border-radius: 25px;
}